body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #318ee5, #1a67d3);
}
.container {
  display: flex;
  align-items: center;
  position: relative;
}

.box-container {
  display: flex;
  align-items: center;
  background: transparent;
}

.box {
  width: 60px;
  height: 100vh;
  transition: width 0.5s ease;
}

.main-element{
    display: flex;
    flex: 1;
    height: calc(100vh - 50px);
    background: transparent;
    padding: 20px;
    padding-left: 0;
    transition: gap 0.5s ease;
}

.flex-box {
  padding: 20px;
  flex: 1;
  background-color: #d1e1f3;
  transition: width 0.5s ease;
}

button {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 100;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    height: 60px;
    flex: 1;
    background: #fff;
}
.flex-box button{
    background: transparent;
    padding: 20px;
}
.flex-box img{
    height: 60px;
}
.info{
    background: #d1e1f3;
    transition: flex 0.5s ease;
}